.accordion-group { 
    margin: 16px 0; 
}
.accordion-body {
    display: none;
    padding: 14px 20px;
    background: #DCDCDC
    border-radius: 5px;
    margin: 8px 0;
    border: 1px solid #00ADB5;    
}
.accordion-body > * > .accordion-body {
    background: #FFF;
    margin: 0;
}
.accordion-header {
    background: #BCEEF2;
    margin: 8px 0;
    color: #000;
    padding: 8px 40px 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}
.accordion-header::after {
    content: "+";
    right: 16px;
    font-family: Courier;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    color: #00ADB5;
    position: absolute;
}
.accordion-header.open {
    background: #00ADB5;
    color: #fff;
    font-weight: bold
}
.accordion-header.open::after {
    content: "-";
    color: #FFF;    
}