.container-4 {
    overflow:hidden;
}
.container-4 a {
    color: #DCDCDC;
    text-decoration:none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    position: relative;
    display:inline-block;
}    
.container-4 a:hover {
    color: #00FFFF	;
    text-decoration:none;
}        
.container-4 a::before,
.container-4 a::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 60px;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.1);
    transform: translateX(-50%) translateY(-50%) scale(0.1);
    pointer-events: none;
}
.container-4 a::after {
    width: 20px;
    height: 20px;
    border-width: 16px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.1);
    transform: translateX(-50%) translateY(-50%) scale(0.1);
}
.container-4 a:hover::before,
.container-4 a:hover::after,
.container-4 a:focus::before,
.container-4 a:focus::after {
    opacity: 0.2;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}