#tabs {
	margin: 10px 0;
	overflow: hidden;
}
.tabs-nav {
	width: 150px;
	float: left;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative; 
}
.tabs-nav:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 1px;
	background: #ccc;
	position: absolute;
	top: 0px;
	right: 0px;

}
.tabs-nav li {
	display: block;
	padding: 0;
	margin: 0; 
}    
.tabs-nav a {
	display: block;
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #ccc;  
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background-color: rgba(255, 255, 255, 0.2); /* белый с прозрачностью 10% */
	font-size: 16px;
	text-decoration: none;
	color: #fff;
}		
.tabs-nav li:first-child a {
	border-radius: 5px 0 0 0; 
}
.tabs-nav li:last-child a {
	border-bottom: 1px solid #ccc;
	border-radius: 0 0 0 5px; 
}
.tabs-nav a.active {
	border-right: 1px solid #fff;
	background: transparent;
	color: #a9acaf;
}    
.tabs-items {
	margin-left: 149px;
	background: transparent; 
        color: #a9acaf; 
}
.tabs-item {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 0 5px 5px 0;	
	min-height: 160px;
}