*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Open Sans';
  background-color: #C5CAE9;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

a {
  color: #3b7cd8;
  text-decoration: none;
  cursor: default;
}

a:hover {
  color: #599eff;
}

.text-link {
  color: #3b7cd8;
  text-decoration: none;
  cursor: text;
  pointer-events: none;
  transition: none;
}

.page {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%); /* Центрирование по горизонтали */
  max-width: 1100px;
  width: 100%;
  height: 85vh; /* Теперь строго 80% высоты экрана */
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
}

.header {
  position: relative;
  z-index: 1;
  padding: 20px 30px;
  background-color: #3b7cd8;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.header nav {
  display: inline-block;
  vertical-align: middle;
}

.header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header nav li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.header nav li a {
  display: block;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  transition: all ease 0.25s;
}

.header nav li a:hover {
  color: #D1C4E9;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  margin-right: 30px;
}

.main {
  overflow-y: auto;
  padding: 30px 0 20px;
  background: #fff;
  z-index: 1;
}

.main section {
  display: block;
}

.main article {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.footer {
  position: relative;
  z-index: 1;
  color: #fff;
  background-color: #305284;
  padding: 20px 30px;
}

.footer a {
  color: #fff;
}

@media (max-width: 560px) {
  .main article {
    width: 100%;
  }
}
