.content-block-fix {
 
    margin: 20px 0;
    padding: 20px;
    background: #FFF;
    font-size: 16px;
    border: 2px solid #BFE2FF;
    position: relative;
}
.content-block-text {
    height: 150px;
    overflow: hidden;    
    position: relative;
    transition: margin 0.3s;
}
.content-block-text-open {
    height: auto;
    margin-bottom: 50px;
}
.content-block-text-shadow:after {
    content: "";
    position: absolute;
    pointer-events: none;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #FFF 75%)    
}
.show-all-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
}

.show-more,
.show-all {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', Ð¢ahoma, sans-serif;
    background: #337AB7;
    cursor: pointer; 
    border: 2px solid #BFE2FF;
    overflow: hidden;
    z-index: 1;
}
.show-more:hover,
.show-more:active,
.show-more:focus,
.show-all:hover,
.show-all:active,
.show-all:focus{
    color: #FFF;
}
.show-more:before,
.show-all:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #2D6B9F;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.show-more:hover:before,
.show-more:active:before,
.show-more:focus:before,
.show-all:hover:before,
.show-all:active:before,
.show-all:focus:before{
    transform: translateX(0);
}